@import "mixin.scss";
@import "var.scss";

.tbdeals{
    padding-top: 80px;
    padding-bottom: 80px;
    &--container{
        @include container(auto,40px);
        &--title{
         @include   mixtitle();
        }
        &--singlecard{
            // width: 23.5%;
            border-radius: 10px;
            height: 100%;
            position: relative;
            margin-bottom: 15px;
            &--thumbnail{
                background-color: $cardbg;
                text-align: center;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
            }
            &--thumbnail:nth-child(1){
                
                border-radius: 10px;
                max-width: 100%;
                
            }
            &--thumbnail>img{
                transition: all 0.3s;
            }

            &--thumbnail:hover>img{
                // border: 3px solid blue;
                transform: scale(1.2);
            }

            &--titlewrap{
                margin-top: 16px;
                @include flex(row,space-between)
            }
            &--para{
                margin: 10px 0;
                font-size: 12px;
                line-height: 16.5px;
            }
            &--rating{
                @include flex(row,center);
                justify-content: start;
                margin-bottom: 15px;
            }
        }
    }
    &--cardsholder{
        grid-column-gap: 24px;
        grid-row-gap: 16px;
        grid-template-columns:repeat(4,1fr);
        
        display: grid;
    }
    // &--cardsholder::-webkit-scrollbar{
    //     display: none;
    // }


    &--wishlist{
        width: 40px;
        height: 40px;
        background-color: $primarycolor;
        border-radius: 100px;
        @include flex(row,center);
        position: absolute;
        top: 16px;
        
        right: 16px;
    }
}

.abcbtn{
     @include buttnmix(transparent);
//      margin-top: 30px;
//    padding: 13px 23px;
    border: 1px solid black;
    padding: 5px 10px;
    &--txt{
        color: black;
        font-family: Eina01, sans-serif;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
    }
}
.abcbtn:hover .abcbtn--txt{
   
    color: white;
    
}
.abcbtn:hover{
    background-color: $secondarycolor;
}

@media screen and (max-width: 767px) {
    .tbdeals{
        padding-top: 40px;
        padding-bottom: 60px;
        &--container{
            padding-left: 15px;
             padding-right: 15px;
             
        }
        &--cardsholder{
            grid-column-gap: 24px;
            grid-template-columns: 1fr ;
        }
    }
}