$primarycolor:#FFFFFF;
$secondarycolor:#003D29;
$starcolor:#FFFFFF;
$txtcolor:#231F1E;
$txthovercolor:#fb7164;
$txtplaceholdercolor:#CCCCCC;
$homebackground:#9CC3D3;
$cardbg:#F5F6F6;
$cashbkbanner:#ffe6cc;
$btnhovercolor:#231F1E;
