.footer {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.footer--top {
  border-top: 1px solid rgba(35, 31, 30, 0.2);
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer--bottom {
  border-top: 1px solid rgba(35, 31, 30, 0.2);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  height: 17vh;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
.footer--bottom--icons {
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer--bottom--icons--div {
  gap: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: color 0.2s;
  cursor: pointer;
}
.footer--bottom--icons--div:hover {
  color: #fb7164;
}
.footer--bottom--termpriv {
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer--bottom--termpriv a {
  text-decoration: none;
  color: #231F1E;
  transition: color 0.2s;
}
.footer--bottom--termpriv a:hover {
  color: #fb7164;
}
.footer--column {
  text-transform: capitalize;
  grid-template-columns: 2.25fr 1fr 1fr 1fr 1fr;
  display: grid;
  padding: 0 40px;
}
.footer--column--items {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.footer--column--h2 {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 23px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.footer ul {
  list-style-type: none;
}
.footer ul > li {
  transition: all 0.3s;
}
.footer ul > li:hover {
  color: #fb7164;
  margin-left: 10px;
}
.footer--logo {
  width: 175px;
  height: 44px;
  margin-bottom: 35px;
}
.footer--para {
  max-width: 385px;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 40px;
}

.footer--paymentlogo {
  display: grid;
  grid-template-columns: 58px 58px 58px 58px;
  grid-column-gap: 6px;
  grid-row-gap: 10.34px;
}
.footer--paymentlogo--single {
  min-height: 40px;
  min-width: 58px;
  border: 0.5px solid #d9d9d9;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category {
  padding-top: 80px;
}
.category--container {
  width: 100%;
  max-width: 1360px;
  margin: 0px auto;
  padding: 0 30px;
  overflow: hidden;
}
.category--container--title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
}
.category--container--items {
  grid-column-gap: 23px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}

.items--card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.items--card--img {
  border-radius: 10px;
  max-width: 100%;
  transition: transform 0.3s;
}
.items--card--img:hover {
  transform: scale(1.1);
}
.items--card--title {
  z-index: 1;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Eina02, sans-serif;
}

@media screen and (max-width: 479px) {
  .category {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .category--container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .category--container--items {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}
.choosebrand {
  padding-bottom: 80px;
}
.choosebrand--container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
.choosebrand--container--items {
  grid-column-gap: 23px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}
.choosebrand--container--title {
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 20px;
}
.choosebrand--p {
  width: 120px;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
}
.choosebrand--title {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.itemcontainer--single {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F6F6;
  padding: 15px;
  gap: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.itemcontainer--single--thumbnail {
  transition: all 0.3s ease;
}
.itemcontainer--single--thumbnail:hover {
  transform: scale(1.12);
}
.itemcontainer--single:hover {
  outline: 1px solid black;
}

@media screen and (max-width: 767px) {
  .choosebrand {
    padding-bottom: 40px;
  }
  .choosebrand--container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .itemcontainer {
    grid-template-columns: 1fr;
  }
}
.off70sec--container {
  width: 100%;
  max-width: 1360px;
  margin: auto;
  padding: 0 40px;
  overflow: hidden;
}
.off70sec--container--title {
  text-transform: capitalize;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
.off70sec--container--cardscontainer {
  display: grid;
  grid-column-gap: 23px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
}

.cardscontainer--card {
  border-radius: 10px;
  overflow: hidden;
}
.cardscontainer--card--content {
  padding: 30px;
}
.cardscontainer--card--img {
  overflow: hidden;
}
.cardscontainer--card--img img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.3s;
}
.cardscontainer--card:hover img {
  transform: scale(1.2);
}

.cardcontent--title {
  max-width: 381px;
  font-family: Inter, sans-serif;
  font-size: 22px;
}
.cardcontent--price {
  color: #cb9917;
  font-family: Eina04, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 20px;
}
.cardcontent--price--span {
  font-size: 31px;
  line-height: 41px;
  position: relative;
  top: -16px;
}
.cardcontent--para {
  max-width: 385px;
  color: #231F1E;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}

@media screen and (max-width: 767px) {
  .off70sec {
    padding-bottom: 40px;
  }
  .off70sec--container {
    padding: 0 15px;
  }
  .cardscontainer {
    grid-template-columns: 1fr;
  }
}
.services {
  padding-bottom: 100px;
}
.services--container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
.services--container--title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
}
.services--container--cards {
  max-width: 100%;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}

.servicecards--card {
  background-color: #F5F6F6;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.servicecards--card--content {
  padding: 40px;
}
.servicecards--card--content--title {
  max-width: 230px;
  text-transform: capitalize;
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 32px;
}
.servicecards--card--content--para {
  max-width: 230px;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
.servicecards--card--img {
  max-width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.servicecards--card--img img {
  max-width: 100%;
  display: inline-block;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media screen and (max-width: 767px) {
  .services {
    padding-bottom: 60px;
  }
  .services--container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .services--container--cards {
    grid-template-columns: 1fr;
  }
}
.get5perc {
  background-color: #ffe6cc;
}
.get5perc--container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}
.get5perc--container--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 62px 0;
  text-align: left;
  padding: 0 120px;
}
.get5perc--container--content--title {
  text-transform: capitalize;
  margin-bottom: 18px;
  font-size: 52px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 120%;
  margin-top: 70px;
}
.get5perc--container--content--para {
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 145%;
  font-weight: 500;
}
.get5perc--container--content--thumbnail {
  margin-top: 40px;
  position: relative;
}

.contthumb--card1 {
  z-index: 2;
  position: absolute;
  top: -37px;
  bottom: auto;
  left: -22px;
  right: auto;
  transform: rotate(-30.6deg);
}
.contthumb--card2 {
  z-index: 1;
  position: absolute;
  top: -18px;
  bottom: auto;
  left: -6px;
  right: auto;
  transform: rotate(-21.6deg);
}
.contthumb--card3 {
  transform: rotate(-15deg);
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #003D29;
  padding: 15px 40px;
  border-radius: 30px;
  transition: all 0.2s;
  margin-top: 35px;
  margin-bottom: 70px;
}
.btn--txt {
  text-decoration: none;
  color: white;
  font-family: Eina01, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.btn:hover {
  background-color: #231F1E;
}

.wallpapdiscount {
  padding-top: 95px;
  padding-bottom: 95px;
  position: relative;
  overflow: hidden;
}
.wallpapdiscount--bgimg {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/img/backbanner.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0%;
}
.wallpapdiscount--txtcontainer {
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}
.wallpapdiscount--txtcontainer--content {
  background-color: #003D29;
  text-align: left;
  padding: 75px 64px;
  display: inline-block;
}

.wallcontent--title {
  color: #FFFFFF;
  margin-bottom: 12px;
  font-size: 52px;
  max-width: 381px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}
.wallcontent--para {
  max-width: 385px;
  margin-bottom: 50px;
  color: #FFFFFF;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 145%;
}
.wallcontent--btn {
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  padding: 15px 40px;
  border-radius: 30px;
  transition: all 0.2s;
  border: 1px solid #FFFFFF;
}
.wallcontent--btn--txt {
  text-decoration: none;
  color: white;
  font-family: Eina01, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.wallcontent--btn:hover {
  background-color: #231F1E;
  border-color: transparent;
}

@media screen and (max-width: 767px) {
  .wallpapdiscount {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .wallpapdiscount--txtcontainer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wallpapdiscount--txtcontainer--content {
    padding: 40px 30px;
  }
  .wallcontent--title {
    font-size: 24px;
  }
  .wallcontent--para {
    margin-bottom: 25px;
  }
  .wallcontent--btn {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    padding: 15px 40px;
    border-radius: 30px;
    transition: all 0.2s;
    border: 1px solid #FFFFFF;
  }
  .wallcontent--btn--txt {
    text-decoration: none;
    color: white;
    font-family: Eina01, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .wallcontent--btn:hover {
    background-color: #231F1E;
    border-color: transparent;
  }
}
.trendproduct {
  padding-bottom: 80px;
}
.trendproduct--container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}
.trendproduct--container--title {
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 20px;
}
.trendproduct--container--cardscontainer {
  grid-column-gap: 23px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}

.trendcards--card {
  background-color: #F5F6F6;
  border-radius: 10px;
}
.trendcards--card--thumb {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.trendcards--card--thumb img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.3s;
}
.trendcards--card--content {
  padding: 30px;
}
.trendcards--card--content--title {
  margin-bottom: 16px;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
}
.trendcards--card--content--para {
  font-size: 15px;
  line-height: 100%;
}
.trendcards--card:hover img {
  transform: scale(1.2);
}

.trendbtn {
  cursor: pointer;
  display: inline-block;
  background-color: #231F1E;
  padding: 15px 40px;
  border-radius: 30px;
  transition: all 0.2s;
  margin-top: 30px;
  padding: 13px 23px;
}
.trendbtn--txt {
  text-decoration: none;
  color: white;
  font-family: Eina01, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.trendbtn:hover {
  background-color: #003D29;
}

@media screen and (max-width: 767px) {
  .trendproduct {
    padding-bottom: 40px;
  }
  .trendproduct--container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .trendproduct--container--cardscontainer {
    grid-template-columns: 1fr;
  }
}
.bestsell {
  padding-bottom: 70px;
}
.bestsell--container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}
.bestsell--container--title {
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 20px;
}
.bestsell--container--cards {
  grid-column-gap: 23px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}
.bestsell--singlecard--thumbnail {
  border-radius: 10px;
  overflow: hidden;
}
.bestsell--singlecard--thumbnail:hover img {
  transform: scale(1.2) skew(10deg);
}
.bestsell--singlecard--thumbnail img {
  border-radius: 10px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.3s;
}
.bestsell--singlecard--content {
  z-index: 2;
  margin-top: -29px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.singlecontent--wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

@media screen and (max-width: 479px) {
  .bestsell {
    padding-bottom: 30px;
  }
  .bestsell--container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .bestsell--container--cards {
    grid-template-columns: 1fr 1fr;
  }
}
.msprod {
  padding-top: 80px;
  padding-bottom: 80px;
}
.msprod--container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}
.msprod--container--title {
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 20px;
}
.msprod--container--singlecard {
  border-radius: 10px;
  position: relative;
}
.msprod--container--singlecard--thumbnail {
  cursor: none;
  background-color: #F5F6F6;
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.msprod--container--singlecard--thumbnail:nth-child(1) {
  width: 29.5vw;
  border-radius: 10px;
  max-width: 100%;
}
.msprod--container--singlecard--thumbnail > img {
  transition: all 0.3s;
}
.msprod--container--singlecard--thumbnail:hover > img {
  transform: scale(1.2);
}
.msprod--container--singlecard--titlewrap {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.msprod--container--singlecard--para {
  margin: 10px 0;
  font-size: 12px;
  line-height: 16.5px;
}
.msprod--container--singlecard--rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: start;
  margin-bottom: 15px;
}
.msprod--cardsholder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  overflow-x: scroll;
}
.msprod--cardsholder::-webkit-scrollbar {
  display: none;
}
.msprod--wishlist {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
}

.abcbtn {
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  padding: 15px 40px;
  border-radius: 30px;
  transition: all 0.2s;
  border: 1px solid black;
  padding: 5px 10px;
}
.abcbtn--txt {
  text-decoration: none;
  color: white;
  font-family: Eina01, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.abcbtn--txt {
  color: black;
  font-family: Eina01, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

.abcbtn:hover .abcbtn--txt {
  color: white;
}

.abcbtn:hover {
  background-color: #003D29;
}

@media screen and (max-width: 767px) {
  .msprod {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .msprod--container {
    padding: 0 15px;
  }
  .msprod--container--singlecard--thumbnail:nth-child(1) {
    width: auto;
  }
}
.tbdeals {
  padding-top: 80px;
  padding-bottom: 80px;
}
.tbdeals--container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}
.tbdeals--container--title {
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 20px;
}
.tbdeals--container--singlecard {
  border-radius: 10px;
  height: 100%;
  position: relative;
  margin-bottom: 15px;
}
.tbdeals--container--singlecard--thumbnail {
  background-color: #F5F6F6;
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.tbdeals--container--singlecard--thumbnail:nth-child(1) {
  border-radius: 10px;
  max-width: 100%;
}
.tbdeals--container--singlecard--thumbnail > img {
  transition: all 0.3s;
}
.tbdeals--container--singlecard--thumbnail:hover > img {
  transform: scale(1.2);
}
.tbdeals--container--singlecard--titlewrap {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tbdeals--container--singlecard--para {
  margin: 10px 0;
  font-size: 12px;
  line-height: 16.5px;
}
.tbdeals--container--singlecard--rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: start;
  margin-bottom: 15px;
}
.tbdeals--cardsholder {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}
.tbdeals--wishlist {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
}

.abcbtn {
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  padding: 15px 40px;
  border-radius: 30px;
  transition: all 0.2s;
  border: 1px solid black;
  padding: 5px 10px;
}
.abcbtn--txt {
  text-decoration: none;
  color: white;
  font-family: Eina01, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.abcbtn--txt {
  color: black;
  font-family: Eina01, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

.abcbtn:hover .abcbtn--txt {
  color: white;
}

.abcbtn:hover {
  background-color: #003D29;
}

@media screen and (max-width: 767px) {
  .tbdeals {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .tbdeals--container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tbdeals--cardsholder {
    grid-column-gap: 24px;
    grid-template-columns: 1fr;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serifI;
}

.header--top {
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #003D29;
  padding: 0 40px;
}
.header--top--ph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header--top--engloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
.header--bottom {
  height: 82px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #003D29;
  font-size: 16px;
  background-color: #FFFFFF;
  padding: 0 10px;
}
.header--bottom--links {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}
.header--bottom--links > li > a {
  text-decoration: none;
  color: #231F1E;
}
.header--bottom--acccart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header--bottom--search {
  width: 320px;
  height: 40px;
  border: 1px solid #CCCCCC;
  border-color: #CCCCCC;
  border-radius: 50PX;
  padding: 15px;
}
.header--bottom--search:focus {
  border-color: #007bff;
  outline: none;
}
.header--bottom--search::-webkit-search-clear-button {
  display: none;
}

.home {
  position: relative;
  background: #9CC3D3;
  height: 100vh;
}
.home--img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home--heading {
  position: absolute;
  top: 27%;
  left: 3.5%;
}
.home--heading--p {
  margin-top: 50px;
  max-width: 500px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 145%;
  color: #231F1E;
}
.home--heading--h1 {
  margin-top: 0;
  font-family: Eina02, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  color: #003D29;
}
.home--heading--btn {
  margin-top: 40px;
  font-family: Eina02, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600;
  padding: 18px 38px;
  background-color: #003D29;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.home--heading--btn:hover {
  background-color: #231F1E;
}

.searchdiv {
  position: relative;
}
.searchdiv--searchicon {
  position: absolute;
  top: 25%;
  right: 10%;
}

.bordertest {
  border: 3px solid red;
}

@media screen and (max-width: 479px) {
  .header {
    display: none;
  }
  .homesection {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .home {
    height: 75vh;
    padding-left: 15px;
    padding-right: 15px;
  }
  .home--img {
    display: none;
  }
  .home--heading--h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .home--heading--p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .home--heading--btn {
    margin-top: 0;
    padding: 10px 30px;
  }
}/*# sourceMappingURL=style.css.map */